
dev.sh
.idea
pyweb-3.0.py
__pycache__
test/__pycache__/*.pyc
tests/.svn/*
py_web_tool.egg-info/*
*.pyc
*.aux
*.out
*.toc
v2_test
.tox
pyweb-3.0.py
/clippings/
plantuml/plantuml*.jar
src/_build/doctrees/environment.pickle
src/_build/doctrees/*.doctree
src/_build/html/_plantuml/*
